<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Ensures the viewer works best across various browsers and devices -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- CSS for this web application -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS required by the viewer -->
    <link rel="stylesheet" href="viewer-assets/css/normalize.min.css">
    <link rel="stylesheet" href="viewer-assets/css/viewer.css">

    <!-- JS required by the viewer -->
    <script src="viewer-assets/js/jquery-1.10.2.min.js"></script>
    <script src="viewer-assets/js/jquery.hotkeys.min.js"></script>
    <script src="viewer-assets/js/underscore.min.js"></script>
    <script src="viewer-assets/js/viewercontrol.js"></script>
    <script src="viewer-assets/js/viewer.js"></script>
    <script src="viewer-assets/js/viewerCustomizations.js"></script>

    <script src="/scripts/script.js"></script>
  </head>
  <body>
    <h1>Uploade your HTML document please</h1>
    
    <div class="upload-file">
        <input type="file" id="fileUpload">
        <div class="errors"></div>
    </div>
    <div id="viewerContainer"></div>
    
    
  </body>
</html>
